
.sidemeny-divstyle1{
    border-right:3px solid #f7f7f9;
    padding:0rem 1rem;
}
.menu{
    border-right:3px solid #f7f7f9;
}
.sidemeny-divstyle2{
    padding-left:1rem;
    
}
.sidemeny-divstyle1 svg{
    padding:0px;
    margin:0px;
    border:none;
    margin-top:1rem;
    margin-bottom:0.5rem;
    margin-left:0.5rem;
    
}
.menu-list{
    list-style: none;
    margin:0px;
    padding:0px;

}
.menu-list li{
    margin-top:1rem;
    padding:0px;
    font-size:16px; 
    line-height:24px; 
    font-weight:600;
    color: #344054;
}

.menu-list li a{
    margin-left:10px;
}


html{
    font-size:22px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}
.main{
    display:flex;
}
.navbar{
    display:flex;
    padding-left:1rem;
    font-weight: 700;
    margin-top:-10px;
    
}
.navbar svg{
    margin-right:0.6rem;
}

.profile_pic{
    width:100%;
    height:7rem;
    background-image: url(image.png);

}
.profile_pic svg{
    transform: translateY(3.5rem);
}

.profile-button-div{
    display:flex;
}
.profile{
    display:flex;
}

.button1{
    padding:0.5rem 1rem;
    border:none;
    box-shadow: 0.01rem 0.01rem 0.05rem 0.05rem rgb(218, 216, 216);
    background-color: white;
    border-radius:0.25rem;
    margin-right:1.5rem;
    font-weight: 700;;
}
.button2{
    padding:0.55rem 0.8rem;
    border:none;
    box-shadow: 0.01rem 0.01rem 0.01rem 0.01rem rgb(218, 216, 216);
    background-color: #7F56D9;
    border-radius:0.25rem;
    color:white;
    font-weight:700;
}

.per-info{
    margin-top:2rem;
}
.per-info :nth-child(1){
    font-size: 0.9rem;
}
.per-info :nth-child(2){
    font-size: 0.8rem;
    color:rgb(117, 114, 114);
}

.info_form{
    box-shadow: 0.01rem 0.01rem 0.05rem 0.05rem rgb(218, 216, 216);
    padding:1rem 1rem;
    border-radius:0.25rem;
}
.label{ 
     font-size:14px ;
      line-height:20px ;
      font-weight:500;
    margin-bottom:0.3rem;
    color: #344054;
}

.input{
    box-shadow: 0.01rem 0.01rem 0.05rem 0.05rem rgb(218, 216, 216);
    border-radius:0.25rem;
    padding-left:0.7rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    margin-bottom:1.2rem;
    font-size:16px ;
    line-height:24px ; 
    font-weight:400;
    color: #101828;
}
#first_name{
    width:100%;
    margin-right: 1rem;;
}
#last_name{
    width:100%;
}
.drag-drop{
    box-shadow: 0.01rem 0.01rem 0.05rem 0.05rem rgb(218, 216, 216);
    border-radius:0.25rem;
    text-align:center;
    padding:1rem 0rem;
}

.drag-drop :nth-child(2){
    font-size: 0.7rem;   
}
.drag-drop :nth-child(3){
    font-size: 0.7rem;   
}

.form-button-div{
    margin-top:1rem;
    display:flex;
    justify-content: flex-end;
    border-top:0.05rem solid rgb(218, 216, 216);
    padding-top:1rem;
}

.profile-info{
    margin-top:2rem;
}

.profile-info :nth-child(1){
    font-size: 0.9rem;
}
.profile-info :nth-child(2){
    font-size: 0.8rem;
    color:rgb(117, 114, 114);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #7F56D9;
}

input:focus + .slider {
    box-shadow: 0 0 1px #7F56D9;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.profile-info-form{
    box-shadow: 0.01rem 0.01rem 0.05rem 0.05rem rgb(218, 216, 216);
    padding:1rem 1rem;
    border-radius:0.25rem;        
}
.description{
    box-shadow: 0.01rem 0.01rem 0.05rem 0.05rem rgb(218, 216, 216);
    border-radius:0.25rem;
    padding:1rem 1rem;
    font-size:16px ;
    line-height:24px ; 
    font-weight:400;
    color: #101828;
}

.font-styles{
    margin-right:1rem;
    margin-bottom:1rem;
}
.menu{
    position:fixed;
    left:0%;
    top:0%;
    display:flex;
    width:14.8rem;
    height:100vh;
}
.mobile{
    position:absolute;
    left:15rem;
}
  
  
@media(max-width:750px){
    .menu{
        opacity: 0;
    }
    .name{
      display: block;
    }
    .name-email h1{
        font-size:24px !important;
        line-height:32px !important;
        font-weight:600 !important;
        margin-bottom:25px !important;
        color: #101828;
    }
    .button2 {
        font-size:14px !important;
        line-height:20px !important;
        font-weight:600 !important;
        color: #FFFFFF;
    } 
    .name-email h3{
        font-size:16px !important;
        line-height:24px !important;
        font-weight:400 !important;
        color: #475467!important;
    }
    .button1 {
        font-size:14px !important;
        line-height:20px !important;
        font-weight:600 !important;
        color: #344054;
    }
    .mobile{
        position: absolute;
        left:0rem;
    }
    .name-email{
        margin-top: -3rem;
    }
    .person_info{
        display: block;
        
    }
    .profile{
        display:block;
        padding-left:1rem;
    }
    .main{
        display:block;
    }
    .profile-info-enclosure{
        display: block;
        
    }
    .per-info{
        padding-left:1rem;
        
    }
    .profile-info{
        padding-left:1rem;
    } 
}

@media(min-width:750px){
    .navbar{
        display:none;
    }
    body{
        font-size:24px;
    }
    .mobile{
        margin-top:-1.8rem;
    }
    #icon{
        width : 10rem;
        height:10em;
    }
    .profile-button-div{
        margin-top:1rem;
    }
    .person_info{
        display: flex;
        justify-content:space-between;
        border-bottom:3px solid #f7f7f9;
    }
    .per-info{
        padding-left:1rem;
    }
    .per-info2{
        max-width: 60%;
        min-width:60%;
    }
    .profile-info{
        padding-left:1rem;
    }
    .profile-info-enclosure{
        display:flex;
        justify-content:space-between;
        
    }
    .profile-info2{
        max-width: 60%;
        min-width:60%;
        
    }
    .name{
        display: flex;
        justify-content: space-between;
    }
    .upload{
        display: flex;
        
    }
    .upload svg{
        margin-right: 1rem;
    }
    .drag-drop{
        flex-grow: 1;
    }
    .regular{
        display: flex;
    }
    .regular .input{
        flex-grow: 0.3;
        margin-right: 1rem;
    }
    .name-email h1{
        font-size:30px !important;
        line-height:38px !important;
        font-weight:600 !important;
        margin-bottom:25px !important;
        color: #101828 !important;
    }
    .name-email h3{
        font-size:16px !important;
        line-height:24px !important;
        font-weight:400 !important;
        color: #475467 !important;
    }
    .button1{
        font-size:14px !important;
        line-height:20px !important;
        font-weight:600 !important;
        color:#344054 !important;
    }
    .button2{
        font-size:14px !important;
        line-height:20px !important;
        font-weight:600 !important;
        color:#FFFFFF!important;
    }     
}
  
